<div class=page-header-text>
  <div class="row">
      <h1 class="display-4 col container">Instagram</h1>
  </div>
  <div class="row">
      <h1 class="display-5 col">Why Instagram</h1>
  </div>
</div>

<div class="social-channel-text">
  <div class="container">
    <p1> Instagram has now reached over 1 billion users
         <br>
         <br>
         The average Instagram post receives over 43 times more engagement
         than any other social channel
         <br>
         <br>
         It is the most important social network to master of the 21st century
    </p1>
  </div>
</div>

<div class="page-break-text row">
    <h1 class="display-5 container">What is automation</h1>
</div>

<div class="instagram-explainer">
   <div class="container">
      <div class="homepage-text">
        <h1 class="display-4"><%= image_tag("whatisautomation.png") %></h1>
    </div>
  </div>
</div>

<div class="page-break-text row">
    <h1 class="display-5 container">Why is that good</h1>
</div>

<div class="instagram-explainer">
   <div class="container">
      <div class="homepage-text">
        <h1 class="display-4"><%= image_tag("whythatgood.png") %></h1>
    </div>
  </div>
</div>

<div class="page-break-text row">
    <h1 class="display-5 container">The Nature Boys difference</h1>
</div>

<div class="social-channel-text">
  <div class="container">
      <p1> We believe that Instagram is a story-telling platform and so in able to tell that story well,
           you have to either invest heavily in to others to go deep in to your business, or do it yourself.
           <br>
           <br>So we leave the story telling you and focus on the growth combining three factors
      </p1>
      <div class="nb-difference">
        <h1 class="display-4"><%= image_tag("nbdifference.png") %><h1>
    </div>
  </div>
</div>

<div class="page-break-text row">
    <h1 class="display-5 container">How to go ahead</h1>
</div>

<div class="social-channel-text">
  <div class="container">
    <p1> Pricing info here</p1>
    <br>
    <br>
    <p1> To go ahead or for any questions, simply <a href="mailto:kieran@wearethenatureboys.com?subject=enquiry">email us</a></p1>
  </div>
</div>
