<div class="product-title">
  <div class="container">
      <div class="product-title-text">
        <h1 class="display-3">Instagram</h1>
      </div>
  </div>
</div>
<div class="page-break">
  <div class="container">
      <div class="page-break-text">
        <h1 class="display-5">Why Instagram</h1>
      </div>
  </div>
</div>
<div class="social-channel-text">
  <div class="container">
    <p1> Instagram has now reached over 1 billion users
     <br>The average Instagram post receives over 43 times more engagement
         than any other social channel
    </p1>
  </div>
</div>
<div class="page-break">
  <div class="container">
      <div class="page-break-text">
        <h1 class="display-5">How does it all work</h1>
      </div>
  </div>
</div>
<div class="instagram-explainer">
  <div class="container">
    <div class="homepage-text">
      <h3> What is automation? </h3>
      <hr>
      <h1 class="display-4"><%= image_tag("whatisautomation.png") %></h1>
      <h3> Why is that good? </h3>
      <hr>
      <h1 class="display-4"><%= image_tag("whythatgood.png") %></h1>
  </div>
</div>
