<div class="product-title container container">
      <div class="product-title-text">
        <h1 class="display-3">Linkedin</h1>
      </div>

</div>
<div class="page-break-text">
    <h1 class="display-5 container">Why Linkedin</h1>
</div>

<div class="social-channel-text">
  <div class="container">
    <p1> Linkedin is the biggest sales opportunity for any b2b brand in todays world.
         <br>
         <br>Through intelligent automation we're able to drive an amount of leads to any business that changes the issue from "I just can't find leads", to "Our sales team's not big enough!".
    </p1>
  </div>
</div>

<div class="social-channel-text">
  <div class="container">
    <p1> Not only deliver regular leads each week but build a massive social following on one of the biggest and fastest growing networks of today!
    <br>
    <br> The Nature Boys founder Max has delivered great results building multiple startups up with Linkedin as a core channel.
    <br>
    <br> His Linkedin network reaches over 20,000 people offering an entire new content marketing opportunity in itself!
    </p1>
  </div>
</div>

</div>
<div class="page-break-text">
    <h1 class="display-5 container">How can we help</h1>
</div>

<div class="linkedin-paths container">
  <div class="linkedin-consultancy container col-6">
      <h3> One-to-one consultancy with Max </h3>
      <p1> I’ll show you how to set up a perfect search to get the exact people you’re after and then automate that outreach.
           <br>
           <br>It allows you to start conversations with hundreds of people every day and pitch to them all on automatic and then just handle the people who come back interested.
           <br>
           <br>In return for a single upfront fee of £200 we’ll deliver:
           <br>
           <br>
           <ul><li>An initial video call to walk through the entire process and all the steps needed to get started.</li>
               <li>One week on from that, a 2nd call to look at how far you’ve got and if any particular stumbling blocks.</li>
               <li>Then a final call another 2 weeks on to look at how things have progressed and make sure it’s optimised as
                   best it can be and you’re happy with how to run it going forward.</li>
               <li>Plus happy to reply to email questions over that period too with any roadblocks you come up with.</li>
           </ul>
       </p1>
    <div class="linkedin-cta">
      <h2><%=link_to '10X your Linkedin!', speak_to_us_path, class: "btn btn-dark btn-lg btn-xlarge" %></h2>
    </div>
  </div>
  <div class="linkedin-full container col-6">
      <h3> Full blown sales lead management </h3>
      <p1> If you’re interested in us taking on the work for you and handling part or all of your sales flow then no problem.
        <br>
        <br> We’ve worked with individual freelancers, all the way up to major international brands.
        <br>
        <br> Click below to set up a call and we can discuss how to best fit what you’re after!
       </p1>
    <div class="linkedin-cta">
      <h2><%=link_to '10X your Linkedin!', speak_to_us_path, class: "btn btn-dark btn-lg btn-xlarge" %></h2>
    </div>
  </div>
</div>
