<div class=page-header-text>
  <div class="row">
      <h1 class="display-4 col container">Youtube</h1>
  </div>
  <div class="row">
      <h1 class="display-5 col">Why Youtube</h1>
  </div>
</div>

<div class="social-channel-text">
  <div class="container">
    <p1> Youtube is the 2nd biggest social network in the western world with over 1.9 billion monthly active users!
         <br>
         <br>It is the channel for anyone involved in video content.
    </p1>
  </div>
</div>

</div>
<div class="page-break-text row">
    <h1 class="display-5 container">Register your interest</h1>
</div>

<div class="social-channel-text">
  <div class="container">
    <p1> We’re working hard at developing our growth model around Youtube and have already seen great results!
         <br>
         <br>If Youtube is something that you might be interested in when we do launch then click to register interest and be the first to hear when we do launch!
         <br>
         <br>The more people showing an interest we have the more sense it makes to invest more of our time to get it launched and out to you!
    </p1>
  </div>
</div>

<div class="youtube-cta">
  <h2><%=link_to '10X your Youtube!', speak_to_us_path, class: "btn btn-dark btn-lg btn-xlarge" %></h2>
</div>
