<center>
<p> </p>
<h1>Client profile</h1>
<p1> here you'll find all our great resources links, info on your package, an email address to reach out to to request a cancellation, FAQ's, links to other tools as we make them like hashtag curators etc. </p1>
<hr>
<p2> And here's the link to go back to the <%= link_to "homepage", root_path %></p2>
</center>
