<body style="background-image:url('https://images.alphacoders.com/106/106581.jpg');">
<center>
<h1>Learn all about us!</h1>
<h2><%= link_to 'Home', root_path %></h2>
<p1> We are great. We are the nature boys! </p>
</center>
