<body style="background-image:url('https://images.alphacoders.com/106/106581.jpg');">
<center>
<h1> The Nature Boys </h1>
<h2> Hippy Audience Builders </h2>
<h3> <%= link_to 'About Us', about_us_path %> </h3>
<a href="https://www.instagram.com/the_natureboys/"</a>Click here to meet the Nature Booyyzzz behind this sick site! 😎</p>
<div class="tenor-gif-embed" data-postid="12510307" data-share-method="host" data-width="50%" data-aspect-ratio="1.7785714285714287"><a href="https://tenor.com/view/bigboyplays-big-boy-plays-deal-gif-12510307">Bigboyplays Deal GIF</a> from <a href="https://tenor.com/search/bigboyplays-gifs">Bigboyplays GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</center>
