<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <div class="header-image">
      <h1 class="display-4">Hippy Audience Builders</h1>
      <h2><%=link_to 'Speak to us', speak_to_us_path, class: "btn btn-dark btn-lg btn-xlarge" %></h2>

      </div>
  </div>
</div>

<%= link_to "Admin profile", admin_profile_path, class: 'admin-link' %>
<hr>
<%= link_to "Client profile", client_profile_path, class: 'client-link' %>
