<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <div class="header-image">
      <h1 class="display-4">Hippy Audience Builders</h1>
      <h2><%=link_to 'Speak to us', speak_to_us_path, class: "btn btn-dark btn-lg btn-xlarge" %></h2>
      </div>
  </div>
</div>

<div class="homepage-text">
  <div class="container">
    <p1> “Social and environmentally conscious organic audience builders”</p1>
  </div>
</div>
<div class="homepage-text">
  <div class="container">
    <p1> We specialise in creating audiences within various social networks through
         highly targeted growth hacking techniques. We're especially good with Instagram...
    </p1>
  </div>
</div>
<div class="homepage-text">
  <div class="container">
    <p1> We deliver a highly targeted, engaged audience growing at over 2,000
        new followers per month.
    </p1>
  </div>
</div>
<div class="homepage-text">
  <div class="container">
    <p1> We do this by combining our Insta empire of 200+ accounts and 2.5m
        follower base with a tailored setup on our own automation software and we
        support all of this with constant training and support!
    </p1>
  </div>
</div>
<div class="page-break">
</div>
