
@import "bootstrap";

header {
  background-color: #f8f9fa

}

.logo img {
    height: 50px;
  width: auto;
  margin: 5px;
}

.container header-image {
  height: 400px;
  width: auto;
}

// .jumbotron {
//   text-align: center;
// }

// .navbar-brand {
//   font-size: 50px;
//   display: inline-block;
//   float: none;
//   vertical-align: top;
// }
