
@import "bootstrap";

header {
  background-color: #f8f9fa

}

.logo img {
    height: 50px;
  width: auto;
  margin: 5px;
}

footer {
  text-align: center;

}
footer ul {
list-style-type: none;
}

.homepage-text {
  text-align: center;
  margin: 50px;
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.jumbotron {
  background-image: url("junglegirl.jpg");
  height: 360px;
  width: auto;
  background-size: cover;
}

.display-4 {
  font-size: 50px;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
  color: white;
  margin-top: 30px;
  margin-bottom: 80px;
}

.display-5 {
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.enquiry-cta {
  text-align: center;
}

.linkedin-cta {
  text-align: center;
  margin: 30px;
}

.youtube-cta {
  text-align: center;
  margin: 30px;
}

.ecj-cta {
  text-align: center;
  margin: 30px;
}

.chat-cta {
  text-align: center;
  margin: 30px;
}

.page-break {
  background-image: url("junglegirlarmsup.jpg");
  background-size: cover;
  height: 200px;
  background-position: center;
  width: auto;
}

.linkedin-and-youtube {
  margin: auto;
  height: 350px;
}

.linkedin {
  font-family: 'Nunito', sans-serif;
  height: 250px;
  width: 400px;
  float: left;
  text-align: center;
  margin: 40px;
}

.youtube {
  font-family: 'Nunito', sans-serif;
  height: 250px;
  width: 400px;
  float: right;
  text-align: center;
  margin: 40px;
}

.homepage-ec-journalist {
  font-family: 'Nunito', sans-serif;
  margin-top: 30px;
  margin-bottom: 80px;
  text-align: center;
}

// .container header-image {
//   height: 400px;
//   width: auto;
// }

// .jumbotron {
//   text-align: center;
// }

// .navbar-brand {
//   font-size: 50px;
//   display: inline-block;
//   float: none;
//   vertical-align: top;
// }
