
@import "bootstrap";

body {
  font-family: 'Nunito', sans-serif;
}

header {
  background-color: #f8f9fa

}
//navigation CSS
.logo img {
    height: 40px;
  width: auto;
  margin: 5px;
}

.nav-item {
  font-size: 18px;
}
//footer CSS
footer {
  text-align: center;

}
footer ul {
list-style-type: none;
}

//Homepage CSS
.homepage-text {
  text-align: center;
  margin: 50px;
  font-size: 20px;
  font-weight: 400;
}

.jumbotron {
  background-image: url("junglegirl.jpg");
  background-position: center;
  height: 360px;
  width: auto;
  background-size: cover;
}

.product-title-text h1 {
  font-weight: bolder;
  margin-top: 40px;
  margin-bottom: 5px;
}

.display-4 {
  font-size: 50px;
  font-weight: bolder;
  color: white;
  margin-top: 30px;
  margin-bottom: 80px;
}

.display-5 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.enquiry-cta {
  text-align: center;
}

.linkedin-cta {
  text-align: center;
  margin: 30px;
}

.youtube-cta {
  text-align: center;
  margin: 30px;
}

.ecj-cta {
  text-align: center;
  margin: 30px;
}

.chat-cta {
  text-align: center;
  margin: 50px;
}

.linkedin-and-youtube {
  margin: auto;
  height: 350px;
}

.linkedin {
  height: 250px;
  width: 400px;
  float: left;
  text-align: center;
  margin: 40px;
}

.youtube {
  height: 250px;
  width: 400px;
  float: right;
  text-align: center;
  margin: 40px;
}

.homepage-ec-journalist {
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 18px;
  text-align: center;
}

//general use CSS

.page-break-text {
  background-image: url("junglegirlarmsup.jpg");
  background-size: cover;
  height: 100px;
  background-position: center;
  width: auto;
  flex: 1;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: auto;
  padding-top: 1px;
}

.social-channel-text {
  text-align: center;
  margin: 50px;
  font-size: 20px;
  font-weight: 400;
}

//instagram
.instagram-explainer {
  text-align: center;
}

img.nb-difference {
  text-align: center;
  margin: 60px 200px 60px 200px;
  max-width: 80%;
  max-height:100%;
}
